@using BugTracks.Areas.Identity.Pages.Account

@model LoginModel


<div class="container row text-center d-flex align-items-center">
    
    @* Text and Login Button *@
    <div class="row text-center">
        
        @* Title *@
        <div class="row text-center m-5">
            <div class="col righteous-regular">
                <h1 class="logo-font display-1">BUGTRACKS</h1>
            </div>
            <div class="mt-3">
                <h4 class="display-6">Project Management Solutions</h4>
            </div>
        </div>

        @* Live Demo Login *@
        <div class="row text-center m-4">
            <div class="col-3"></div>
            <a class="col text-light btn btn-lg bg-success  rounded" asp-area="Identity" asp-page="/Account/Login">Click Here to Login with a Live Demo Account</a>
            <div class="col-3"></div>
        </div>

    </div>
    
    @* Logo *@
    <div class="row text-center m-5 d-flex align-items-center">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <img class="img-fluid text-center" src="/img/images/green-bug-background.jpg" />
        </div>
        <div class="col-md-1"></div>
    </div>



</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
