@using BugTracks.Areas.Identity.Pages.Account

@model LoginModel


<div class="container row text-center d-flex align-items-center justify-content-center">
    
    @* Text and Login Button *@
    <div class="row text-center d-flex">
        
        @* Title *@
        <div class="row text-center m-5 d-flex justify-content-center">
            
            <h1 class="col righteous-regular logo-font display-1">BUGTRACKS</h1>
            <h4 class="display-6 mt-3">Project Management Solutions</h4>
            
        </div>

        @* Live Demo Login *@
        <div class="row text-center m-4">
            <div class="col-3"></div>
            <a class="col text-light btn btn-lg bg-success  rounded" asp-area="Identity" asp-page="/Account/Login">Click Here to Login with a Live Demo Account</a>
            <div class="col-3"></div>
        </div>

    </div>
    
    @* Logo *@
    <div class="row text-center m-5 d-flex align-items-center justify-content-center">
        <div class="col-md-1"></div>
        <img class="col-md-10 img-fluid text-center" src="/img/images/Green-Bug-Background.jpg" />
        <div class="col-md-1"></div>
    </div>



</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
