@using BugTracks.Areas.Identity.Pages.Account

@model LoginModel


<div class="container text-center">
    
    @* Title *@
    <div class="row text-center m-5">
        <div class="col ">
            <h1>BUG TRACKS</h1>
        </div>
        <div>
            <h6>Project Management Solutions</h6>
        </div>
    </div>

    
    @* Logo *@
    <div class="row text-center">
        <div class="col text-center">
            <img src="~/img/images/logo_edited.png" />
        </div>
    </div>



</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
