@using BugTracks.Areas.Identity.Pages.Account

@model LoginModel


<div class="container text-center">

    @* Title *@
    <div class="row text-center m-5 bg-light">
        <div class="col">
            <h1>BUG TRACKS</h1>
        </div>
        <div>
            <h6>Project Management Solutions</h6>
        </div>
    </div>

    @* Live Demo Login *@
    <div class="row text-center m-5">
        <div class="col-3"></div>
        <a class="col text-light btn btn-lg bg-success  rounded" asp-area="Identity" asp-page="/Account/Login">Click Here to Login with a Live Demo Account</a>
        <div class="col-3"></div>
    </div>
    
    @* Logo *@
    <div class="row text-center m-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <img class="img-fluid text-center" src="~/img/images/logo_edited.png" />
        </div>
        <div class="col-md-3"></div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
