@model BugTracks.Models.ViewModels.AddProjectWithPMViewModel
@using BugTracks.Models.Enums

@{
    ViewData["Title"] = "Create";
}

<h1 class="mt-2">Create A New Project</h1>

<hr />

<div class="container m-3">
    <div class="row">

        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            @* Project Name *@
            <div class="row mt-2">
                <div class="col-8">
                    <div class="form-group">
                        <label asp-for="Project.Name" class="form-label"></label>
                        <input asp-for="Project.Name" class="form-control" />
                    </div>
                </div>
                <div class="col-4"></div>
            </div>

            @* Project Description *@
            <div class="row mt-2">
                <div class="col-8">
                    <div class="form-group">
                        <label asp-for="Project.Description" class="form-label"></label>
                        @* <input asp-for="Project.Description" class="form-control" /> *@
                        <textarea asp-for="Project.Description" type="text" class="form-control" rows="3" id="MessageInputField" autofocus></textarea>
                        <span asp-validation-for="Project.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>


            @* Project Dates *@
            <div class="row mt-2">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Project.StartDate" class="form-label"></label>
                        <input asp-for="Project.StartDate" class="form-control" />
                        <span asp-validation-for="Project.StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Project.EndDate" class="form-label"></label>
                        <input asp-for="Project.EndDate" class="form-control" />
                        <span asp-validation-for="Project.EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>


            @* Project Priority and Manager*@
            <div class="row mt-2">
                <div class="col-4">
                    @* PM SelectList for Admins *@
                    @if (User.IsInRole(Roles.Admin.ToString()))
                    {
                        <div class="form-group">
                            <label class="form-label"> Project Manager </label>
                            <select asp-for="PmId" class="form-control" asp-items="@Model.PMList">
                                <option></option>
                            </select>
                        </div>
                    }
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="form-label">Choose a priority</label>
                        <select asp-for="Project.ProjectPriorityId" class="form-control" asp-items="@Model.PriorityList"></select>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>


            @* Project Image *@
            <div class="row mt-2">
                @* Image Input *@
                <div class="col-4">
                    @* Set up Image capture *@
                    <label class="form-label"> Project Image </label>
                    <input asp-for="Project.ImageFile" class="form-control" type="file" accept=".png, .jpg, .jpeg, .gif"
                            onchange="document.getElementById('imageFileData').src = window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="Project.ImageFile" class="text-danger"></span>
                </div>
                @* Image Preview *@
                <div class="col-4">
                    <label> Image Preview </label>
                    @if (Model.Project?.ImageFile != null)
                    {
                        <img id="imageFileData" class="img-fluid img-thumbnail" src="data:image/*;base64,@(Convert.ToBase64String(Model.Project.ImageFileData))" />
                    }
                    else
                    {
                        <img id="imageFileData" class="img-fluid img-thumbnail" src="" />
                    }
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="form-group mt-3 col-8">
                    <input type="submit" value="Create" class="btn btn-primary w-100" />
                </div>
                <div class="col-4"></div>
            </div>
        </form>
    </div>
    <div>
        <a class="btn btn-sm btn-outline-secondary mt-4" asp-action="AllProjects">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
